/.idea/
/venv/
/recipe.log

# exclude everything
logs/*
# exception to the rule
!logs/.gitkeep

# exclude everything
data/*
# exception to the rule
!data/.gitkeep

# exclude everything
voice_msgs/*
# exception to the rule
!voice_msgs/.gitkeep
/config.yaml
